* {
  font-family: 'Glory', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
}
header {
  background-color: rgb(241, 241, 241);
}
.top-name {
  padding: 1rem 0 1rem 0;
}
.top-nav {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  max-width: 95%;
  margin: 0 auto;
}
.top-nav-item {
  border: 1px solid rgb(241, 241, 241);
  margin-bottom: 5px;
  background-color: white;
  font-weight: bold;
}
.top-nav li {
  list-style-type: none;
  line-height: 50px;
}
a {
  text-decoration: none;
  color: black;
}
.profile-img {
  padding-top: 20px;
  max-width: 100%;
}
.aboutme-text {
  color: grey;
  font-size: 1.5rem;
  padding: 1rem 1rem 2rem 1rem;
}

.portfolio-title {
  padding: 1.8rem;
}

.portfolio-img {
  max-width: 90%;
  padding: 1rem 0 1rem 0;
}
.portfolio-text {
  max-width: 50%;
  margin: 0 auto;
  padding: 1rem;
}

footer {
  background-color: rgb(241, 241, 241);
  padding-top: 2.5rem;
  margin-top: 3.5rem;
}
#contactLink {
  padding: 2rem;
}
.contact-text {
  max-width: 90%;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.email {
  text-decoration: none;
  padding-bottom: 40px;
  padding-top: 1rem;
  border-bottom: 2px solid lightgray;
}
strong {
  color: darkgray;
  font-weight: bold;
}
.bottom-nav-container {
  display: none;
}

.bottom-nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}
.back-to-top {
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .top-nav-item {
    display: inline-flex;
    display: space-between;
    background-color: rgb(241, 241, 241);
    font-weight: bold;
    padding: 0 1rem 2rem 1rem;
  }
  .aboutme {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 50px;
  }

  .aboutme-text {
    text-align: left;
    font-size: 1.5rem;
  }
  .profile-img {
    width: 320px;
  }
  .portfolio-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1.1rem;
  }
  .main-item {
    max-width: 50%;
  }

  .back-to-top {
    display: none;
  }
  .bottom-nav {
    display: flex;
    justify-content: space-between;
  }
  .bottom-name {
    margin: 10px;
  }

  .bottom-nav-container {
    display: flex;
    justify-self: flex-end;
  }
  .bottom-nav-item {
    font-weight: bold;
    margin: 10px;
    text-transform: uppercase;
  }

  .bottom-nav-container li {
    list-style-type: none;
  }
  #contactLink {
    padding: 2rem 0 2rem 0;
  }
  .contact-text {
    font-size: 1.5rem;
    color: gray;
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 2.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .inline {
    width: 100%;
    display: flex;
    justify-items: space-between;
  }
  .top-nav {
    padding: 5px 0 0 500px;
  }
  #HomeLink {
    padding-left: 25px;
  }

  .top-nav-item a {
    color: rgb(80, 77, 77);
  }
  .portfolio-container {
    display: flex;
  }
  .main-item {
    max-width: 33%;
  }
  .contact-text {
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 2.5rem;
  }
}
